<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png'%>);">
  <div class="container">
    <h1>Enjoy movies</h1>

    <p> <%= @list.name %></p>
  <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
</div>

<div style="margin: 12px">
</div>
<div>
  <% @list.bookmarks.each do |bookmark| %>
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://image.tmdb.org/t/p/w500<%=  bookmark.movie.poster_url%>')">
          <div style='display: flex; justify-content: flex-start; margin: 12px;';>
            <div>
              <strong><%= bookmark.movie.title %></strong>
            </div>
            <div>
              <i class="fas fa-star"></i><%= bookmark.movie.rating %>
            </div>
          </div>
          <div style="margin: 12px;">
            <%= bookmark.movie.overview %>
          </div>
          <div style='display: flex; justify-content: space-between; margin: 12px;'>
            <div>
              <i class="fas fa-quote-left"></i><%= bookmark.comment %>
            </div>
            <div>
              <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { turbo_method: :delete, confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
            </div>
          </div>
        </div>
  <% end %>
</div>
<% if @list.photo.attached? %>
 <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
